* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
}
body {
    background-color: rgb(0,0,0);
    /* background-image: url('./imgs/background.jpg'); */
    /* background-image: url('https://i.ytimg.com/vi/YznuOT5yVKg/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGFwgKCh_MA8=&rs=AOn4CLAr2VyJlTgKKMUZPXD1HQdMccqX3Q'); */
    background-color: rgb(34, 34, 44);
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    max-width:100%;
    height:auto
}
#header {
    background-color: rgb(19, 19, 24);
    width: auto;
    top: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0em;
    /* border-radius: 3px; */
    text-align: center;
    margin-bottom: 2em;
}
h1 {
    margin: 1vh;
}
.logo {
    /* position: absolute; */
    /* margin: 0 0 0 0; */
    float: left;
    /* display: flex; */
    top: 1%;
    left: 1%;
    /* align-items: right; */
    /* align-self: right; */
}
.aa {
    /* width: 100%; */
    /* display: block; */
    text-align: center;
    float: center;
    
    background-color: inherit;
    border: inherit;
    padding: 0;
}
.ab {
    display: block;
    text-align: center;
    font-size: small;
    /* align-self: left; */
}
div {
    background-color: rgba(0,20,26, 1);
    width: 75%;
    margin: auto;
    /* padding: 1%; */
    border: 1px solid black;
}
#sorters {
    width: 75%;
    padding: 0;
    margin-top: 1em;
}
.tabs {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.tabs li {
    float: left;
    margin: None;
}
.tabs li > div {
    display: block;
    text-align: center;
    width: 5em;
    margin: inherit;
    padding: 1em 1em 1em;
}
.drinks-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.drink {
    background-color: rgb(4, 47, 54);
    padding: 5%;
    height: 85%;
}
.drink > img {
    width: auto;
    height: 50px;
    display: flex;
    float: right;
}